aes==1.0.0
aiohttp==3.8.0
aiosignal==1.2.0
APScheduler==3.6.3
async-timeout==4.0.0a3
attrs==21.2.0
autopep8==1.6.0
base58==2.1.1
beautifulsoup4==4.10.0
bitarray==1.2.2
captcha==0.3
certifi==2020.12.5
chardet==4.0.0
charset-normalizer==2.0.7
click==8.0.1
coinbase==2.1.0
coinbasepro==0.3.0
coinpayments-py==0.1.0
colorama==0.4.4
comtypes==1.1.10
cytoolz==0.11.0
dnspython==2.1.0
docopt==0.6.2
email-validator==1.1.3
eth-abi==2.1.1
eth-account==0.5.6
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
Flask==2.0.1
flask-mongoengine==1.0.0
Flask-WTF==1.0.0
frozenlist==1.2.0
gunicorn==20.1.0
hexbytes==0.2.2
idna==2.10
ipfshttpclient==0.8.0a2
itsdangerous==2.0.1
Jinja2==3.0.1
jsonschema==3.2.0
lru-dict==1.1.7
MarkupSafe==2.0.1
mongoengine==0.23.1
MouseInfo==0.1.3
multiaddr==0.0.9
multidict==5.2.0
mysql-connector==2.2.9
Naked==0.1.31
netaddr==0.8.0
numpy==1.21.2
pandas==1.3.4
parsimonious==0.8.1
paytmchecksum==1.7.0
peewee==3.14.4
Pillow==8.2.0
pipreqs==0.4.10
protobuf==3.19.1
PyAutoGUI==0.9.53
pycodestyle==2.8.0
pycoinpayments==1.0.0
pycryptodome==3.10.1
PyGetWindow==0.0.9
pyjokes==0.6.0
pymongo==3.11.4
PyMsgBox==1.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
pyrsistent==0.18.0
PyScreeze==0.1.27
pyTelegramBotAPI==3.7.9
python-dateutil==2.8.2
python-telegram-bot==13.5
pyttsx3==2.90
PyTweening==1.0.3
pytz==2021.1
pywhatkit==5.1
pywin32==301
PyYAML==5.4.1
razorpay==1.2.0
requests==2.25.1
rlp==2.0.1
schedule==1.1.0
selenium==3.141.0
shellescape==3.8.1
six==1.16.0
soupsieve==2.2.1
SpeechRecognition==3.8.1
telegram==0.0.1
toml==0.10.2
toolz==0.11.1
tornado==6.1
typing-extensions==3.10.0.2
tzlocal==2.1
urllib3==1.26.4
varint==1.0.2
web3==5.24.0
websockets==9.1
Werkzeug==2.0.1
wikipedia==1.4.0
WTForms==3.0.0
yarg==0.1.9
yarl==1.7.0
